#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.section-title {
  font-family: Cairo;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  color: #242424;
  margin-top: 64px;
  margin-bottom: 32px;
}
